body {
	display: grid;
	place-items: center;
	height: 100vh;
	margin: 0;
	padding: 0;
    box-sizing: border-box;
    background-image: linear-gradient(rgb(205, 248, 244),rgb(184, 255, 248));
}
.faces-container {
    width: 700px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 0.2rem;
    justify-content: center;
    align-items: center;
}
.face-container {
	min-height: 135px;
	min-width: 100px;
    position: relative;
    display: inline-block;
}
.face-container:hover :not(:first-child) {
    display: none;
	z-index: -1;
}
.active {
	display: block !important;
}
.face-container img {
	width: 100%;
	height: auto;
	position: absolute;
	display: none;
}
